<?xml version="1.0"?>
<config>
    <modules>
        <Vasilica_Groups>
            <version>0.1.0</version>
        </Vasilica_Groups>
    </modules>
    <frontend>
        <events>
            <catalog_product_load_after>
                <observers>
                    <catalog_product_and_vgroups>
                        <type>singleton</type>
                        <class>Vasilica_Groups_Model_Observer</class>
                        <method>addProductGroups</method>
                    </catalog_product_and_vgroups>
                </observers>
            </catalog_product_load_after>
            <catalog_block_product_list_collection>
                <observers>
                    <catalog_product_collection_vgroups_and_sizes>
                        <type>singleton</type>
                        <class>Vasilica_Groups_Model_Observer</class>
                        <method>addProductCollectionGroupsAndSizes</method>
                    </catalog_product_collection_vgroups_and_sizes>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </frontend>
    <admin>

    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vasilica_Groups>
							<title>Vasilica Groups Module</title>
							<sort_order>10</sort_order>
						</Vasilica_Groups>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <vgroups>
                <class>Vasilica_Groups_Model</class>
            </vgroups>
        </models>
        <resources>
            <vgroups_setup>
                <setup>
                    <module>Vasilica_Groups</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vgroups_setup>
        </resources>
        <helpers>
            <vgroups>
                <class>Vasilica_Groups_Helper</class>
            </vgroups>
        </helpers>
    </global>
</config>